body {
  padding: 1em;
  margin: 0px;
  font-size: 14pt;
  font-family: Helvetica;
  background-color: #232324;
  color: #a0a0a0;
}

h2 {
  color:#eee;
}

.row {
  margin-top:1em;
  margin-bottom:1em;
}

.slider_box {
  margin-top:1.2em;
}

#color_picker {
  margin-top: 2em;
}

#color_picker > h2 {
  text-align: left;
}

#color_picker > label {
  display:inline;
}

#color_picker > input {
  display:inline;
}